
.balloon {
    max-width: 200px;
}

.balloon--moving {
    animation: balloon-moving 5s ease-in-out 1s infinite alternate;
    transform-origin: 50% 300%;
}

@keyframes balloon-moving {
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
}


.balloon--popping {
    animation: balloon-popping;
}

@keyframes balloon-popping {
    100% {
        transform: scale(1.2);
        opacity: 0;
        }
}